# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Datasets
# =========================
data/
data_finetune/

# =========================
# Audio files
# =========================
*.wav
*.mp3
*.flac
*.ogg
*.m4a

# =========================
# Test recordings
# =========================
voices_test/

# =========================
# Uploaded audio
# =========================
uploads/
src/uploads/

# =========================
# Model checkpoints
# =========================
checkpoints/

# =========================
# Model files
# =========================
*.pth
*.pt
*.ckpt

# =========================
# Logs / training outputs
# =========================
logs/
runs/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Environment variables
# =========================
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Operating system
# =========================
.DS_Store
Thumbs.db